::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 0);
}
::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    background-color: var(--color);
}
::selection {
    background-color: var(--accent);
    color: var(--background-color);
}
html{
    -webkit-text-size-adjust: 100%;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    overflow: unset;
}
body.light{
    background-color: #ffffff;
    --background-color: #ffffff;
    --color: #231f20;
    --surface2: #e0e0e0; 
}
body{
    background-color: #3c3c3c;
    --background-color: #3c3c3c;
    overflow-y: scroll;
    --accent: #FF7518;
    --color: #fff;
    --surface2: #535353; 
}

a{
    color: var(--accent)
}
.box{
    padding: 30px 0;
    width: 100%;
}
.box h1{
    text-align: center;
    font-size: 60px;
    color: var(--accent);
    text-shadow: 3px 5px 2px rgb(0 0 0 / 0.7);
}
.box p{
    text-align: center;
    color: var(--color);
    text-shadow: 1px 1px 2px rgb(0 0 0 / 0.7);
}
.box2{
    margin: 3em;
}
.box3{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--color);
}

.projects{
    margin: 2rem;
    display: grid;
    gap: 1em;
    justify-content: center;
}
.socials{
    margin: 2rem;
    list-style: none;
    display: grid;
    gap: 1em;
    justify-content: center;
}
.socials img{
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
    shape-rendering: auto;
}
.socials h3{
    all: unset;
    text-decoration: none;
    margin-right: 0.5em;
    min-width: 5rem;
    color: var(--color);
}
.socials li{
    display: inline-flex;
    align-items: center;
}
.socials a{
    border-radius: 24px;
    padding: 0.2em 0.5em;
    background-color: var(--surface2);
    text-decoration: none;
    width: fit-content;
    color: var(--color);
}
.socials a:hover{
    text-decoration: underline;
    transition: 0.25s;
    color: var(--accent);
}
.socials iframe{
    box-shadow: 0 0 0 1px var(--color);
    border-radius: 10px;
    overflow: hidden;
}
#StyleButton{
    position: absolute;
    padding: 15px;
    min-height: 25px;
    max-height: 25px;
    transition: 0.75s;
}
#StyleButton:hover{
    scale: 1.25;
    transition: 0.75s;
}
@media (max-width: 480px) {
    .box2 {
        margin: 0;
    }
}