@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    border-radius: 10rem;
    background-color: #231f20;
}
::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    background-color: #fff;
}
body{
    background: #111;
}
*{
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}
a{
    display: block;
}
hr{
    border: 1px solid #444;
}
.top-area{
    background: url(/files/bar.jpg) center;
    background-size: cover;
    width: 100%;
    padding-bottom: 8rem;
    padding-top: 9rem;
}
.top-area h1{ 
    text-align: center;
    font-family: 'Titan One', cursive;
    letter-spacing: 3px;
    font-size: 3em;
    color: white;
    margin-bottom: 5px;
    text-shadow: 4px 4px #444;
}
.top-area .soc-buttons{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    font-family: "Rubik";
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.top-area .soc-buttons a{
    border-radius: 15px;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    margin-left: 5px;
    margin-bottom: 15px;
    transition: 0.5s;
}
.top-area .soc-buttons span{
    margin-left: 5px;
}
.top-area .soc-buttons a:hover{
    transition: 0.5s;
    padding-left: 2em;
    padding-right: 2em;
}
.top-area .github{
    background: linear-gradient(to right bottom, #ffffff, #d9d9d9, #b4b4b4, #919191, #6f6f6f, #606060, #525252, #444444, #444444, #444444, #444444, #444444);
}
.top-area .youtube{
    background: linear-gradient(to right bottom, #ffb3b3, #f29998, #e5807d, #d66662, #c64c48, #bf403c, #b73331, #af2525, #af2525, #af2525, #af2525, #af2525);
}
.top-area .mail{
    background: linear-gradient(to right bottom, #b99bff, #ae87f1, #a473e2, #9a5ed3, #9148c4, #8d3dbd, #8932b6, #8525af, #8525af, #8525af, #8525af, #8525af);
}
.main-content h1{
    text-align: center;
    line-height: 10vh;
    font-family: "Rubik";
}
.yes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.yes i{
    font-size: 15px;
    margin-top: 3px;
    margin-left: 5px;
    line-height: 10vh;
    color: gray;
}
.yes p{
    margin-top: 2px;
    margin-left: 15px;
    line-height: 10vh;
    color: gray;
}
.projects{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects img{ 
    z-index: 2;
    border-radius: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5vh;
    border: 15px solid #3e3739;
    transition: 0.75s;
    width: 234.375px;
    height: 130.5px;
    animation: downcenta 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.projects img:hover{
    transition: 0.75s;
    border: 15px solid #231f20;
    animation: upcenta 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes upcenta {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes downcenta {
    0% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
@media (max-width: 600px) {
    body{
        zoom: 75%;
    }
}
  
