@font-face {
  font-family: 'Pulang';
  src: url(Pulang.ttf);
}

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: none;
}
body{
    font-family: arial;
    background: #000;
}
a{
    color: white;
    text-decoration: none;
}
.clock{
  position: absolute;
  left: 50%;
  bottom: 45%;
  transform: translate(-50%);
  font-size: 75px;
  display: flex;
  color: red;
  font-weight: bold;
}

.clock span{
  padding: 3px;
  font-family: 'Pulang';
}
input{
  margin-left: 10px;
  margin-top: 10px;
}
#color, #txtcolor{
  margin-left: 10px;
  width: 75px;
  height: 15px;
}
.enable{
  font-family: 'Pulang';
  color: white;
  font-size: 15px;
  margin-left: 5px;
}
#color, #txtcolor{
  background: black;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  box-shadow: 0 4px 5px rgba(255, 255, 255, 0.2);
}
.options{
  height: 100px;
}
#checkms{
  box-shadow: 0 2px 2.5px rgba(255, 255, 255, 0.2);
}

/* MOBILE */

@media (max-width: 550px) {
 .clock span{
   font-size: 50px;
 }
}
@media (max-width: 320px) {
 .clock span{
   font-size: 40px;
 }
}
