@font-face {
  font-family: 'SugarSnow';
  src: url(SugarSnow.ttf);
}

* {
  background: black
}

textarea {
  color: white;
  width: 100%;
  height: 100px;
  min-height: 100px;
  resize: vertical;
}

button {
  background: white;
  font-family: 'SugarSnow';
}

h1{
  font-family: 'SugarSnow';
  margin-top: 15px;
}